<mat-tab-group>
  <mat-tab label="仕事">
    <ng-container *ngIf="todos$ | async as todos">
      <div class="todoList" *ngIf="user$ | async">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let todo of todos">
            <mat-expansion-panel-header class="todoList__head">
              <mat-panel-title>
                {{ todo.title }},{{todo.id}}
              </mat-panel-title>
              <mat-panel-description>
                {{ todo.createdAt.toDate() | date: 'yyy年MM月dd日' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{todo.content}}</p>
            <button mat-flat-button color="warn" class="todoList__btn" (click)="delete()">
              <span>削除</span>
              <mat-icon>warning</mat-icon>
            </button>
            <button routerLink="/detail/{{ todo.id }}" mat-stroked-button color="primary" class="todoList__btn">
              <span>編集</span>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
  </mat-tab>

  <mat-tab label="プライベート">
    <!-- <ng-container *ngIf="todos$ | async as todos">
      <div class="todoList" *ngIf="user$ | async">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let todo of todos">
            <mat-expansion-panel-header class="todoList__head">
              <mat-panel-title>
                {{ todo.title }}
              </mat-panel-title>
              <mat-panel-description>
                {{ todo.createdAt.toDate() | date: 'yyy年MM月dd日' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{todo.content}}</p>
            <button mat-flat-button color="warn" class="todoList__btn">
              <span>削除</span>
              <mat-icon>warning</mat-icon>
            </button>
            <button mat-stroked-button color="primary" class="todoList__btn">
              <span>編集</span>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container> -->
  </mat-tab>

  <mat-tab label="その他">
    <!-- <ng-container *ngIf="todos$ | async as todos">
      <div class="todoList" *ngIf="user$ | async">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let todo of todos">
            <mat-expansion-panel-header class="todoList__head">
              <mat-panel-title>
                {{ todo.title }}
              </mat-panel-title>
              <mat-panel-description>
                {{ todo.createdAt.toDate() | date: 'yyy年MM月dd日' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{todo.content}}</p>
            <button mat-flat-button color="warn" class="todoList__btn">
              <span>削除</span>
              <mat-icon>warning</mat-icon>
            </button>
            <button mat-stroked-button color="primary" class="todoList__btn">
              <span>編集</span>
              <mat-icon>edit</mat-icon>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container> -->
  </mat-tab>
</mat-tab-group>
