@import 'mixins';

footer {
  background-color: #3f51b5;
  p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 24px 0;
    @include pc {
      font-size: 14px;
    }
  }
}
